.container-main{
    margin-top: 100px;
}

.card{
    padding: 10px;
    background-color: #28a745!important;
    color: white;
    padding-top: 20px;
}
.card-body {
    padding: 0px;
}

div.card{
    max-width: 800px;
    margin: auto;
}

button{
    padding: 0px;
}

.btn-light{
    max-width: 100px;
    margin-left: 10px;
    float: right;
}

.jumbotron{
    padding: 20px;
    margin:0;
    background-image: url('../m-image.jpg');
    background-blend-mode: unset;
    /* margin-top: 30px; */
    margin-bottom: 30px;
}

h1{
    color: #28a745;
    text-align: center;
}