#chatMain {
    width: 90%;
    margin-top: 100px;
    padding: 50px;
    /* margin-left: 10%; */
    /* marginLeft:  */
}

#conversation {
    margin-top: 60px;
    color: black;
    font-weight: bold;
    /* margin-bottom: 60px; */
    max-height: 200px;
    overflow: scroll;
    /* background-color: wheat; */
    padding: 20px;
}

#conversationFull {
    /* margin-top: 60px; */
    color: grey;
    margin-bottom: 100px;
    max-height: 200px;
    /* overflow: scroll; */
    /* background-color: wheat; */
    padding: 20px;
    /* border: 1px solid #ccc; */
}

.conversationMap {
    margin-top: 15px;
}