.userModal {
    margin-top: 100px;
    width: 300px;
}

.maskLogin {
    background: rgba(0, 0, 0, 0.9) !important;
    z-index: 10;
    height: 100%;
    position: fixed;
    width: 100%;
}

.selectMask_box_login {
    background: rgba(0, 0, 0, 0);
    transition: all .2s linear;
    text-align: center;
}
