#newsSec {
    /* margin-top: 100px !important; */
    width: 900px;
    margin: 0 auto !important;
    margin-top: 15px;
}

.newSecMapTitle {
    font-weight: bolder;
}

.newSecMapLink {
    color: black;
}

a.newSecMapLink {
    color: black;
}
h1 {
    color: #28a745;
    /* background-color: #28a745; */
    /* background-color: black; */
    text-align: center;
    padding: 20px;
}

#newsSec{
    margin: 0 auto;
    padding-left: 15px;
}

img {
    vertical-align: middle;
    border-style: none;
    margin-top: 10px;
    margin: 0 auto;
}