#postCon {
    /* margin-top: 100px !important; */
    width: 90% !important;
    margin: auto;
}

#postDisplayCon {
    /* margin-top: 20px !important; */
    width: 90%;
    margin: auto;
}

#singlePost{
    margin-top: 10px;
    margin-bottom: 50px;
}

form{
    margin-top: 15px;
}