.container{
    padding: 0px;
    margin: 0px;
    max-width: 100%;
}

.news-tab{
    overflow: scroll;
    color: black;
    /* background-color: gray; */
    height: 400px;
    margin-bottom: 20px;
    /* width: 500px; */
}

.w-100 {
    width: 100%!important;
    height: 200px;
    margin-top: 50px;
    filter: brightness(50%);
}

#newsSec {
    /* margin-top: 100px !important; */
    width: 300px;
    margin: auto;
}

.carousel {
    position: relative;
    width: 800px;
    margin: auto;
    height: 240px;
    margin-top: 25px;
}

.button{
    font-size: 12px !important;
}