.nav-content{
    list-style: none;
    text-align: justify;
    text-decoration: none;
    padding: 0%;
}

ul{
    list-style-type: none;
    color: white;
    margin: 0px 20px 0px 0px;
    padding: 0px;
    /* display: inline;
    white-space:nowrap; */
}

li{
    display: inline;
}

a.nav-link{
    padding: 10px;
    display: inline;
    color: white;
}

.navbar-light .navbar-brand{
    padding: 20px;;
}

.nav{
    background-color: rgb(231, 61, 61);
}

a{
    color: white;
    text-decoration: none;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: white;
}